<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title th:text="#{app.title}+' - ' +#{app.module.bidlist.title}">Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<th:block th:include="fragments/menu-bar::menu-bar"></th:block>
	<div class="row"><h2>Bid List</h2></div>
	<div class="row">
		<a href="/bidList/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Account</th>
					<th>Type</th>
					<th>Bid Quantity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bid :${bidList_list}">
		            <td th:text="${bid.bidListId}">Id</td>
		            <td th:text="${bid.account}">Account</td>
		            <td th:text="${bid.type}">Type</td>
		            <td th:text="${bid.bidQuantity}">Bid Quantity</td>
		            <td>
		            	<a href="#" th:href="@{/bidList/update/}+${bid.bidListId}">Edit</a>&nbsp;|&nbsp;
						<a href="#" th:href="@{/bidList/delete/}+${bid.bidListId}">Delete</a>&nbsp;
		            </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>