<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title th:text="#{app.title}+' - ' +#{app.module.trade.title}">Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<th:block th:include="fragments/menu-bar::menu-bar"></th:block>
	<div class="row"><h2>Trade List</h2></div>
	<div class="row">
		<a href="/trade/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Account</th>
					<th>Type</th>
					<th>Buy Quantity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="trade :${tradeList}">
		            <td th:text="${trade.tradeId}">Id</td>
		            <td th:text="${trade.account}">Account</td>
		            <td th:text="${trade.type}">Type</td>
		            <td th:text="${trade.buyQuantity}">Buy Quantity</td>
		            <td>
		            	<a href="#" th:href="@{/trade/update/}+${trade.tradeId}">Edit</a>&nbsp;|&nbsp;
						<a href="#" th:href="@{/trade/delete/}+${trade.tradeId}">Delete</a>&nbsp;
		            </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>